<!DOCTYPE html>
<html>
<head>
<title>Cratification</title>
<link type="text/css" rel="stylesheet" href="http://necolas.github.com/normalize.css/normalize.css" />
<link type="text/css" rel="stylesheet" href="/css/styles.css" />


</head>
<body>
<div id="test-container">
<span id="ampersand">&amp;</span>
</div>
<form id="entry-form">
<div id="entry"></div>
</form>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.js"></script>
<script type="text/javascript" src="/js/cratify.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>