<html>
<head>

<title>Cratification</title>
<style type="text/css">
body,html {
    padding: 0px;
    margin: 0px;
}
#container {
    width: 300px; 
    margin: auto;
    margin-top: 200px;
}
#password {
    width: 300px;
    margin: auto;   
    border: solid 1px Red;
    -webkit-box-shadow: 0 2px 6px #ECECEC inset;
    box-shadow: 0 2px 6px #ECECEC inset;
    box-sizing: content-box;
    color: black;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 5px;
}
</style>
</head>
<body>
<form id="container" action="/login" method="post">
    <input type="password" id="password" name="password" placeholder="password" />
    hint: cbuser's password
</form>

</body>
</html>