<!DOCTYPE html>
<html>
<head>
<title>Cratification</title>
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" />
<link type="text/css" rel="stylesheet" href="/css/view.css" />
</head>
<body>

<div id="container">
    <span id="ampersand">&amp;</span>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.js"></script>
<script type="text/javascript" src="/js/cratify.js"></script>
<script type="text/javascript" src="/js/view.js"></script>

</body>
</html>