<html>
<head>
<title>Cratification</title>
<style type="text/css">
body,html {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#container {
    width: 1024px; 
    height: 300px; 
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
</style>
</head>
<body>

<div id="container">
    <span id="ampersand">&amp;</span>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.js"></script>
<script type="text/javascript" src="/js/cratify.js"></script>

<script type="text/javascript">
$(function() {
    function loadHash() {
        if (window.location.hash) {
            var $container = $("#container");
            var $ampersand = $("#ampersand");
            
            $container.css({height: $(window).height(), width: $(window).width() });
            
            var id = window.location.hash.replace('#', '');
            $.getJSON('/animation/' + id, function (data) { new Cratify(data, $container, $ampersand); });
        }
    }
    loadHash();
    $(window).bind('hashchange', loadHash);
});
</script>

</body>
</html>