<!DOCTYPE html>
<html>
<head>
<title>Cratification</title>
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" />
<link type="text/css" rel="stylesheet" href="/css/view.css" />
</head>
<body>

<div id="container">
    <span id="ampersand">&amp;</span>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.js"></script>
<script type="text/javascript" src="/js/cratify.js"></script>

<script type="text/javascript">
$(function() {
    function loadHash() {
        var id = window.location.pathname.split('/')[2];
        if (id) {
            var $container = $("#container");
            var $ampersand = $("#ampersand");
            
            var windowHeight = Math.max($(window).height(), self.innerHeight);
            $container.css({height: windowHeight, width: $(window).width() });
            
            
            $.getJSON('/animation/' + id, function (data) { new Cratify(data, $container, $ampersand); });
        }
    }
    loadHash();
    $(window).bind('hashchange', loadHash);
});
</script>

</body>
</html>