body,html {
    padding: 0px;
    margin: 0px;
}

/* index page */
#test-container {
    width: 1024px; 
    height: 300px; 
    border: 1px solid black;
    margin: auto;
    margin-top: 200px;
}
#entry-form {
    width: 1024px;
    margin: auto;
}

/* view page */
#container {
    width: 1024px; 
    height: 300px; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}