body,html {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    
}

input[type="text"]
{
    width: 200px;
    margin: auto;   
    border: solid 1px #BCBCBC;
    -webkit-box-shadow: 0 2px 6px #ECECEC inset;
    box-shadow: 0 2px 6px #ECECEC inset;
    box-sizing: content-box;
    color: black;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 5px;
}
button,
input[type="button"]
{
    border: solid 1px #BCBCBC;
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top,#FFF,#E4E8EE);
    background-image: -ms-linear-gradient(top,#FFF,#E4E8EE);
    background-image: -o-linear-gradient(top,#FFF,#E4E8EE);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFF),to(#E4E8EE));
    background-image: -webkit-linear-gradient(top, #FFF, #E4E8EE);
    border-radius: 5px;
    color: #105DA5;
    font-weight: bold;
    height: 28px;
    margin: 3px;
}
select {
    border: solid 1px #BCBCBC;
    -webkit-box-shadow: 0 2px 6px #ECECEC inset;
    box-shadow: 0 2px 6px #ECECEC inset;
    color: black;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}

/* index page */
#test-container {
    width: 1024px; 
    height: 300px; 
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
}
#entry-form {
    width: 1024px;
    margin: auto;
    padding-top: 5px;
}
.frame {
    padding-bottom: 5px;
}
.removeRow {
    color: red;   
}

/* view page */
#container {
    width: 1024px; 
    height: 300px; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}