body,html {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

/* view page */
#container {
    width: 800px; 
    height: 300px; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}